* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Simplon Norm";
  src: url("/fonts/SimplonNorm-Regular-WebTrial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Simplon Norm", sans-serif;
  margin: 0;
  padding: 0;
}
