.main {
  padding: 0.5rem;
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
}

/* filter and all items bar */
.barLeftWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-width: 35%;
}

.totalItems {
  display: none;
  font-weight: 700;
}
.showFilterBtn {
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: gray;
  cursor: pointer;
}
.showFilterBtnM {
  color: black;
  font-weight: 800;
  font-size: 13px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem;
  padding: 1rem;
  flex-grow: 1;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  border-radius: 4px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.card h2 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #333;
}

.card p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
  margin: 0.5rem 0;
}

.productsSection {
  display: flex;
  flex-direction: column;
}

.description {
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  font-weight: 500;
}
.filterStripeBar {
  padding: 1rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devider {
  width: 1px;
  height: 30px;
  background-color: lightgray;
}

/* Responsive styles */
@media (min-width: 768px) {
  .main {
    padding: 2rem;
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
  }

  .productsSection {
    display: flex;
    flex-direction: row;
  }

  .heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3vw;
    color: #333;
    letter-spacing: 5px;
    font-weight: 500;
  }
  .description {
    margin-bottom: 40px;
  }
  .showFilterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: gray;
  }
  .totalItems {
    display: block;
    font-weight: 700;
  }
  .devider {
    display: none;
  }
  .showFilterBtnM {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
  }
}

/* Responsive styles */
@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
}